@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}
body {
  min-height: 100vh;

}

/*******************
  header and search
*******************/

header {
    background-color: #0d253f;
    color: hsl(20, 40%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    font-size: 1rem;
    border-bottom: 0.5rem solid #01b4e4;
    position: relative;
}
header h1,
header form {
  padding: 1rem;
}
header h1 {
  text-shadow: 2px 2px 2px hsl(20, 10%, 30%);
}
header form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
#search {
  font-size: 1rem;
  line-height: 1;
  padding: 0.25rem 1rem;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  min-width: 25ch;
  outline: none;
  border-radius: .5rem;
}

#btnSearch .iconic {
  height: 22px;
  width: 22px;
}
#btnSearch .iconic * {
  stroke: hsl(20, 10%, 60%);
  fill: hsl(20, 10%, 30%);
}
#btnSearch.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}
#btnSearch {
  border-radius: 0.5rem;
  margin-left: -2.2rem;
  border: none;
  background-color: white;
}

/*******************
  content area
*******************/

main {
    min-height: 60vh;
}

#instructions {
  display: none;
}
#actors {
  display: none;
}
#media {
  display: none;
}
#instructions.active,
#actors.active,
#media.active  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
#instructions h2,
#actors h2,
#media h2 {
    font-weight: 500;
    font-size: 3rem;
    color: #90cea1;
    padding: .3rem;
    text-align: center;
}
#instructions h2 {
    font-size: 2.5rem;
}

#sort {
    display: none;
}

#sort.active {
    display: inline-block;
    margin-top: -10px;
    font-size: 1.2rem;
    color: white;
}

#sort.active a {
    color: white;
}

h4 {
    font-size: 1.1rem;
    color: #073b72;
    text-align: center;
    margin: 1rem;
}

.actorCard:hover {
    transform: translateY(2%) translateX(2%);
}

.actorCard, .movieCard {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 350px;
    margin: 1rem;
    border: none;
    gap: .3rem;
    color: #0d253f;
    background-color: #0498c123;
    box-shadow: 2px 3px #2d2a2a3f;
}

.actorInfo, .movieInfo {
    display: inline-block;
    padding: .5rem;
    justify-content: center;
}
.actorName {
    font-size: 1.3rem;
    font-weight: 500;
}

.actorPopularity {
    padding-top: .5rem;
    font-size: 1rem;
}

#media h2 {
    line-height: 2rem;
}

#media h2.back {
    color: #90cea153;
}

#media h2.back:hover,
#media h2.back:focus {
    color:#90cea1;
}

#media {
    animation: move .5s;
}
 
.movieTitle {
    font-size: 1.2rem;
    font-weight: 400;
}
.movieDate, .movieScore {
    font-size: .8rem;
}

.movieScore {
    padding-top: .5rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(190, 36, 9);
}

img {
    width: 130px;
}

li {
    list-style-type: none;
}

footer {
    background-color: #0d253f;
    border-top: 0.5rem solid #01b4e4;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
 }
 
 footer img {
     width: 220px;
     padding: 1rem;
 }
 
 footer div {
     color: white;
     font-size: .8rem;
 }

/***********************
  Effects
***********************/
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.64;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes move {
    from { 
    transform: translateX(20%); 
  }
    to { 
    transform:translateX(0); 
  }
}

/************************
  Media Queries
************************/
@media all and (min-width: 800px) {
  header {
    font-size: 1.2rem;
    flex-direction: row;
  }
  #search {
    max-width: 30vw;
  }
  #actors.active,
  #media.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #actors h2,
  #media h2 {
    /* for the wider screens */
    font-size: 10rem;
    position: relative;
    writing-mode: vertical-lr;
  }

  #media h2 {
    line-height: 6rem;
    margin: 1rem;
  }

  h4{
      font-size: 1.5rem;
  }
}
@media all and (min-width: 1000px) {
  header {
    font-size: 2rem;
  }
  #search {
    font-size: 1.5rem;
  }
  #btnSearch .iconic {
    height: 42px;
    width: 42px;
  }

  #actors .content,
  #media .container {
    display: grid;
    grid-template-columns: auto auto;
    gap: .3rem;
    font-size: 1.5rem;
    margin: 1rem;
  }
}
  @media all and (min-width: 1500px) {
    #actors .content,
    #media .container {
      grid-template-columns: auto auto auto;
    }
 }

